<!DOCTYPE html>
<html ng-app="myAng">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="targi4App.js"></script>
</head>

<body>
  <h1>Hello Angular TARGIL 4 MODUL AND 15 11 2017!</h1>
  
  <div ng-controller="targi4App">
    <input type="number" ng-model="num1" />

    <input type="number" ng-model="num2" />

    
    <p> plus: {{ num1 + num2 | number }} </p>

   <!-- <br> minus: <span ng-bind="num1 - num2 | number"></span>
    <br> kefel: <span ng-bind="num1 * num2 | number"></span>
    <br> hiluk: <span ng-bind="num1 / num2 | number"></span>
   -->
    </div>
  </body>
</html>