<!DOCTYPE html>
<html ng-app="myAng">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="targi4App.js"></script>
</head>

<body>
  <h1>Hello Angular -- TARGIL 4 MODUL AND 15 11 2017!</h1>

  <div ng-controller="targi4App">
    Num 1: <input type="number" ng-model="num1" /> 
    Num 2: <input type="number" ng-model="num2" />
    <br>
    <p> plus: {{ num1 + num2 | number }} </p>
    <p> minus: {{ num1 - num2 | number }} </p>
    <p> kefel: {{ num1 * num2 | number }} </p>
    <p> hiluk: {{ num1 / num2 | number }} </p>
  </div>
</body>
</html>